<!DOCTYPE html>
<html lang="en">

<th:block th:replace="~{modules/import}" />

<body>

  <!-- ======= Header ======= -->
  <th:block th:replace="~{modules/header::goPage(${singlePage.spec.slug})}" />
  <!-- End Header -->

  <main id="main">

    <!-- ======= Contact Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <!-- <h2>联系我们</h2> -->
          <h2 th:text="${singlePage.spec.title}"></h2>
          <ol>
            <li><a href="/">首页</a></li>
            <li th:text="${singlePage.spec.title}"></li>
          </ol>
        </div>

      </div>
    </section><!-- End Contact Section -->

    <!-- ======= Contact Section ======= -->
    <section class="contact" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">
      <div class="container">

        <div class="row">

          <div class="col-lg-6">

            <div class="row">
              <div class="col-md-12">
                <div class="info-box">
                  <i class="bx bx-map"></i>
                  <h3>我们的地址</h3>
                  <p th:text="${theme.config.contact.address}"></p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box">
                  <i class="bx bx-envelope"></i>
                  <h3>邮箱</h3>
                  <p th:text="${theme.config.contact.email}"></p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box">
                  <i class="bx bx-phone-call"></i>
                  <h3>电话</h3>
                  <p th:text="${theme.config.contact.phone}">+86 131 6833 4636</p>
                </div>
              </div>
            </div>

          </div>

          <div class="col-lg-6">
            <form th:action="${theme.config.contact.add_contact_url}" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="你的名字" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="你的邮箱" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="标题" required>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" placeholder="内容" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">你的信息已提交，谢谢！</div>
              </div>
              <div class="text-center"><button type="submit">提交</button></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

    <!-- ======= Map Section ======= -->
    <section class="map mt-2" th:if="${theme.config.contact.show_map}">
      <div class="container-fluid p-0">
        <iframe th:src="${theme.config.contact.map_url}" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
      </div>
    </section><!-- End Map Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <th:block th:replace="~{modules/footer}" />
  <!-- End Footer -->
</body>

</html>